<h1>All phones</h1>

@{ 
    foreach(var item in Model.allPhones)
    {
        <div>Vendor: @item.name</div>
        <div>Description: @item.description</div>
        <img src="@item.img" alt="@item.name" />
        <div>Peice: @item.price </div>
        @*<div>Category: @item.currentCategory</div>*@
    }
}